# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
TODO.md
.env
/backend/tmp
/backend/api
/tmp
.agents
skills-lock.json